// VARIABLES
$font-color: #33323D;
$font2-color: #FFFFFF;
$hover-color: #5FB4A2;
$bg-color: #F2F2F2;
$bg2-color: #FAFAFA;
$bg3-color: #203A4C;
$bg4-color:#000000;
$bg5-color:#e6e6e6c5;

$font1: 'Public Sans';
$font2: 'Ibarra Real Nova';