.contact-me__container {
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.contact-me__heading {
    margin: 0;
    margin-right: 100px;
    font-family: $font2;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: $font-color;
}

.contact-me__wrapper {
    margin: 0;
    margin-bottom: 62px;
    display: flex;
    justify-content: center;
    align-items: start;
}


.contact-me__input {
    padding: 9px 524px 9px 13px;
}

.contact-me__massage {
    width: 635px;
    height: 96px;
}

.contact-me__button {
    border:none;
    background-color: $font-color;
    padding:17px 24px;
font-size: 12px;
line-height: 14px;
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
color: $font2-color;
}