.site-nav__list {
  @include list-unstyled;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 42px;
}

.site-nav__item-link {
  text-decoration: none;
}